name: GreytHR Automation

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Choose which automation to run"
        required: true
        type: choice
        options:
          - signin
          - signout

  schedule:
    - cron: "30 1 * * *"   # 8:00 AM IST
    - cron: "30 14 * * *"  # 8:00 PM IST


env:
  TZ: Asia/Kolkata
  USERNAME: ${{ secrets.USERNAME }}
  PASSWORD: ${{ secrets.PASSWORD }}
  ALERT_EMAIL: ${{ secrets.ALERT_EMAIL }}
  ALERT_PASS: ${{ secrets.ALERT_PASS }}
  ALERT_TO: ${{ secrets.ALERT_TO }}

jobs:

  signin:
    runs-on: ubuntu-latest
    environment: test
    if: github.event_name == 'schedule' || (github.event_name == 'workflow_dispatch' && github.event.inputs.action == 'signin')

    steps:
      - name: Check IST time window for Signin
        id: check_time
        run: |
          HOUR=$(TZ=Asia/Kolkata date +%H)
          echo "Current IST hour: $HOUR"

          if [ "$HOUR" -ge 7 ] && [ "$HOUR" -lt 11 ]; then
            echo "RUN_SIGNIN=true" >> $GITHUB_ENV
          else
            echo "RUN_SIGNIN=false" >> $GITHUB_ENV
          fi

      - uses: actions/checkout@v3
        if: env.RUN_SIGNIN == 'true'

      - uses: actions/setup-node@v4
        if: env.RUN_SIGNIN == 'true'
        with:
          node-version: 18

      - name: Install dependencies
        if: env.RUN_SIGNIN == 'true'
        run: npm install

      - name: Install Playwright
        if: env.RUN_SIGNIN == 'true'
        run: npx playwright install --with-deps

      - name: Run Sign In test
        if: env.RUN_SIGNIN == 'true'
        run: npx playwright test tests/signin.spec.ts --project=chromium


  signout:
    runs-on: ubuntu-latest
    environment: test
    if: github.event_name == 'schedule' || (github.event_name == 'workflow_dispatch' && github.event.inputs.action == 'signout')

    steps:
      - name: Check IST time window for Signout
        id: check_time
        run: |
          HOUR=$(TZ=Asia/Kolkata date +%H)
          echo "Current IST hour: $HOUR"

          if [ "$HOUR" -ge 20 ] && [ "$HOUR" -lt 24 ]; then
            echo "RUN_SIGNOUT=true" >> $GITHUB_ENV
          else
            echo "RUN_SIGNOUT=false" >> $GITHUB_ENV
          fi

      - uses: actions/checkout@v3
        if: env.RUN_SIGNOUT == 'true'

      - uses: actions/setup-node@v4
        if: env.RUN_SIGNOUT == 'true'
        with:
          node-version: 18

      - name: Install dependencies
        if: env.RUN_SIGNOUT == 'true'
        run: npm install

      - name: Install Playwright
        if: env.RUN_SIGNOUT == 'true'
        run: npx playwright install --with-deps

      - name: Run Sign Out test
        if: env.RUN_SIGNOUT == 'true'
        run: npx playwright test tests/signout.spec.ts --project=chromium
